<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hope_dog.mapper.volun.car.CarMapper">
<!--    게시글 조회-->
    <select id="selectAllCars" resultType="CarDTO">
        SELECT c.CAR_NO, c.CAR_CATE, c.CAR_TITLE, c.CAR_CONTENT,
               c.CAR_REGIDATE, c.CAR_UPDATEDATE, c.CAR_WRITER,
               m.MEMBER_NICKNAME, cm.CENTER_MEMBER_NAME
        FROM TBL_CAR c
                 LEFT JOIN TBL_MEMBER m ON c.CAR_WRITER = m.MEMBER_NO
                 LEFT JOIN TBL_CENTER_MEMBER cm ON c.CAR_WRITER = cm.CENTER_MEMBER_NO
        ORDER BY c.CAR_REGIDATE DESC  -- 최신 글이 위에 오도록 정렬
    </select>


<!--    카테고리 분류별 게시글 조회 -->
    <select id="selectCate" resultType="CarDTO">
        SELECT CAR_NO, CAR_CATE, CAR_TITLE, CAR_CONTENT, CAR_REGIDATE, CAR_UPDATEDATE,
               CAR_WRITER
        FROM TBL_CAR
        WHERE CAR_CATE = #{carCate}
        ORDER BY CAR_REGIDATE DESC
    </select>

    <!--게시글 상세페이지(글)-->
<!--    <select id="selectCarById" parameterType="long" resultType="CarDTO">-->
<!--        SELECT CAR_NO, CAR_CATE, CAR_TITLE, CAR_CONTENT, CAR_REGIDATE, CAR_UPDATEDATE,-->
<!--               CAR_WRITER-->
<!--        FROM TBL_CAR-->
<!--        WHERE CAR_NO = #{no}-->
<!--    </select>-->

    <!-- 게시글 상세페이지 + 댓글 및 작성자 정보 -->
    <select id="selectCarWithComment" parameterType="long" resultType="CarCommentDTO">
        SELECT c.CAR_NO, c.CAR_CATE, c.CAR_TITLE, c.CAR_CONTENT,
               c.CAR_REGIDATE, c.CAR_UPDATEDATE, c.CAR_WRITER,
               m.MEMBER_NICKNAME AS CAR_WRITER_NICKNAME,
               cm.CENTER_MEMBER_NAME AS CAR_WRITER_NAME,

               cc.CAR_COMMENT_NO, cc.CAR_COMMENT, cc.CAR_COMMENT_REGIDATE,
               cc.CAR_UPDATEDATE AS COMMENT_UPDATEDATE, cc.CAR_COMMENT_WRITER,
               m2.MEMBER_NICKNAME AS COMMENT_WRITER_NICKNAME,
               cm2.CENTER_MEMBER_NAME AS COMMENT_WRITER_NAME

        FROM TBL_CAR c
                 LEFT JOIN TBL_MEMBER m ON c.CAR_WRITER = m.MEMBER_NO
                 LEFT JOIN TBL_CENTER_MEMBER cm ON c.CAR_WRITER = cm.CENTER_MEMBER_NO
                 LEFT JOIN TBL_CAR_COMMENT cc ON c.CAR_NO = cc.CAR_NO
                 LEFT JOIN TBL_MEMBER m2 ON cc.CAR_COMMENT_WRITER = m2.MEMBER_NO
                 LEFT JOIN TBL_CENTER_MEMBER cm2 ON cc.CAR_COMMENT_WRITER = cm2.CENTER_MEMBER_NO
        WHERE c.CAR_NO = #{carNo}
        ORDER BY cc.CAR_COMMENT_REGIDATE ASC
    </select>


    <!-- 일반회원 조회 -->
    <select id="selectMemberByNo" parameterType="long" resultType="MemberDTO">
        SELECT MEMBER_NO, MEMBER_NICKNAME
        FROM TBL_MEMBER
        WHERE MEMBER_NO = #{no}
    </select>

    <!-- 센터회원 조회 -->
        <select id="selectCenterMemberByNo" parameterType="long" resultType="CenterMemberDTO">
            SELECT CENTER_MEMBER_NO,CENTER_MEMBER_NAME
            FROM TBL_CENTER_MEMBER
            WHERE CENTER_MEMBER_NO = #{no}
        </select>

</mapper>